body {
  text-align: center;
  font-family: 'Roboto';
}

body a{
  text-decoration: none;
  color: black;
}

button:focus {
  outline: none;
}

.App-logo {
  height: 6vh;
  padding:7px;
}

.app-title {
  font-family: 'Patrick Hand';
  margin: 0;
  padding: 10px 10px 0px 5px;
}


.App-link {
  color: #61dafb;
}

.nav-style{
  display: flex;
  height: 8vh;
  border-bottom: 1px lightgray solid;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-buttons{
  font-size: 3vw;
  background-color: #FF4E50;
  border-radius: 5px;
  color: white;
  padding: 5px 10px 5px 10px;
}

.new-plan-button{
  background-image: url('Images/plus.svg');
  background-color: white;
  width: 7vw;
  height: 7vw;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  border: 2px solid #FF4E50;
  position: fixed;
  bottom: 6px;
  right: 167px;
  z-index: 50;
}

.nav-element-beer{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/drinks.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-beer-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/drinksactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-leaf{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/nature.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-leaf-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/natureactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-romantic{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/romantic.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-romantic-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/romanticactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-pets{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/pets.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-pets-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/petsactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-football{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/sports.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-football-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/sportsactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-tray{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/food.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-tray-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/foodactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-shopping{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/shopping.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-shopping-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/shoppingactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-disco{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/party.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-disco-active{
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-image: url("Images/partyactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  /* box-shadow: 0px 0px 0px 2px #F9D423;
  transition: box-shadow 0.1s linear; */
  border: 0px;
}

.nav-element-disco:hover { box-shadow: 0px 0px 0px 4px #F9D423}
.nav-element-shopping:hover { box-shadow: 0px 0px 0px 4px #F9D423}
.nav-element-tray:hover { box-shadow: 0px 0px 0px 4px #F9D423}
.nav-element-football:hover { box-shadow: 0px 0px 0px 4px #F9D423}
.nav-element-pets:hover { box-shadow: 0px 0px 0px 4px #F9D423}
.nav-element-leaf:hover { box-shadow: 0px 0px 0px 4px #F9D423}
.nav-element-beer:hover { box-shadow: 0px 0px 0px 4px #F9D423}
.nav-element-romantic:hover { box-shadow: 0px 0px 0px 4px #F9D423}

.nav-element{
  text-decoration: none;
  width: 100px;
  height: 30px;
  padding: 3px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
  font-size: 17px;
  background-color: #FF4E50;
  color: white;
}

.nav-element:hover {
  background-color: rgb(247, 52, 55);
}

.location-results{
  margin-top:10px;
  margin-bottom:10px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.location-search{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.picked-container{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.next-step-button{
  display: block;
  float: right;
}

.each-result{
  height: 20vh;
  width: 40%;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 1px 1px 1px 1px#C5C4CC;
}

.each-result-info{
  height: 15vh;
}

.form-check img{
  width: 40px;
}

.location-address{
  padding: 10px 0px;
  font-size: 14px;
  font-style: italic;
}

.location-card{
  margin: 0 auto;
  width: 80vw;
  padding: 10px;
}

.plan-details-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  font-family: Roboto;
}

.title-in-details{
  font-size: 4vh;
  font-weight: 700;
}

.locations-list-on-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 50px;
}

.location-card img{
  width: 100%;
}

.location-name{
  font-size:4vh;
}

.plan-list{
  font-weight: 400;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  margin-bottom: 50px;
}

.plan-card{
  width: 40%;
  margin: 5vw;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.plan-card:hover{
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.plan-title{
  font-size: 4vw;
  margin-bottom: 2px;
}

.main-title-container{
  height: 8vh;
  padding: 5px;
}

.plan-footer{
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.creator-image{
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  border: 1px solid lightgray;
  display: block;
  position: relative;
  top: -93px;
  right: -10px;
}

.instastory{
  background-image: url('Images/play-button.svg');
  background-color: white;
  border: none;
  width: 4vh;
  height: 4vh;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 7px 0px;
}

.instastory-on-details{
  background-image: url('Images/play-button.svg');
  background-color: white;
  border: none;
  width: 6vh;
  height: 6vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.description-on-details{
  margin-top:20px;
}

.likes-counter{
  font-size: 2vw;
}

.box {
  width: 70%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FF4E50;
  text-align: center;
  box-shadow: 15px 15px #F9D423;
}

.box input[type="text"]  {
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #F9D423;
  padding: 12px 10px;
  width: 170px;
  outline: none;
  color: white;
  border-radius: 5px;
  transition: 0.25s;
}
  
.box input[type="text"]:focus {
  width: 220px;
  border-color: #5c23a9;
}

.box input[type="password"]  {
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #F9D423;
  padding: 12px 10px;
  width: 170px;
  outline: none;
  color: white;
  border-radius: 5px;
  transition: 0.25s;
}
  
.box input[type="password"]:focus {
  width: 220px;
  border-color: #5c23a9;
}

.box input::placeholder {
  color: white;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #5c23a9;
  padding: 12px 10px;
  width: 100px;
  outline: none;
  color: white;
  font-weight: 800;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: #5c23a9;
}

.redirect-auth{
  font-size: 14px;
  color: white;
}

.plan-image-container{
  width: 100%;
  height: 15vh;
}

.plan-info-container{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.plan-image-in-list{
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.filters-container{
  display: flex;
  border-bottom: 1px solid lightgray;
  width: 100%;
  justify-content: space-between
}

.filters-container button{
  width: 9vw;
  height: 9vw;
  background-color: white;
}

.heart{
  width: 3vh;
  height: 3vh;
  margin: 10px 0px;
  background-image: url('Images/like.svg');
  background-color: white;
  border: none;
  background-repeat: no-repeat;
}

.empty-heart{
  width: 3vh;
  height: 3vh;
  background-size: 100%;
  margin: 10px 0px;
  background-image: url('Images/emptyheart.svg');
  background-color: white;
  border: none;
}

.logout{
  background-image: url('Images/logout.svg');
  background-color: white;
  border: none;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin: 12px;
  cursor: pointer;
}

.login{
  background-image: url('Images/login.svg');
  background-color: white;
  border: none;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 20px;
  width: 20px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: auto;
}

.create-plan-entries{
  font-size: 4vw;
  padding-bottom: 5px;
  display: block;
}

.create-plan-inputs{
  background-color: #F9D423;
  border-radius: 2px;
  border-width: 0px;
  margin-bottom: 10px;
  height: 4vh;
  color: white;
  width: 55vw;
  text-align: center;
  outline: none;
  transition: 0.25s;

}

.create-plan-inputs:focus{
  width: 70vw;
}

.create-plan-button-form{
  background-color: #FF4E50;
  border-radius: 2px;
  border-width: 0px;
  height: 4vh;
  width: 25vw;
  color: white;
}

.pick-location-button{
  background-color: #FF4E50;
  border-radius: 2px;
  border-width: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3vh;
  width: 15vw;
  color: white;
}

.checkbox-list{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
  padding-left: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.checkbox-item{
  width: 30vw;
  text-align: left;
}

.create-plan-title{
  font-size: 6vw;
  font-weight: 800;
  padding-bottom: 20px;
  font-family: Roboto;
}


.picked-location{
  padding: 7px;
  border-radius: 3px;
  border: 1px lightblue solid;
  color: black;
  margin: 5px;
  font-size: 12px;
}

.main-search-wrapper{
  margin-bottom: 20px;
}

.confirm-locations-button{
  background-color: #FF4E50;
  border-radius: 2px;
  border-width: 0px;
  height: 4vh;
  width: 35vw;
  color: white;
}

.next-step{
  background-image: url('Images/next.svg');
  background-color: white;
  border: none;
  height: 6vh;
  width: 6vh;
  position: absolute;
  bottom: 220px;
  right: 10px;
}

.previous-step{
  background-image: url('Images/previous.svg');
  background-color: white;
  border: none;
  height: 6vh;
  width: 6vh;
  position: absolute;
  bottom: 220px;
  left: 10px;
}

.footer-style{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 6vh;
  border-top: 1px solid lightgray;
  background-color: white;
}

.profile-button{
  background-image: url('Images/profile.svg');
  background-color: white;
  width: 6vw;
  height: 6vw;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  bottom: 8px;
  right: 30px;
  z-index: 50;
  border: none;
}

.home-button{
  background-image: url('Images/home.svg');
  background-color: white;
  width: 6vw;
  height: 6vw;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  bottom: 8px;
  left: 30px;
  z-index: 50;
  border: none;
}

.final-buttons-container{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #FF4E50;
  border-color: #FF4E50;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

.form-container-create{
  font-family: Roboto;
  font-weight: 400;
}

.open-sort-menu{
  background-color: white;
  background-image: url('Images/settings.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  color: white;
  border: none;
  position: fixed;
  right: 20px;
  bottom: 60px;
  height: 30px;
  width: 30px;
  padding: 10px;
  text-align: left;
}

.sort-options-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Roboto;
  font-weight: 700;
}

.each-option-container{
  background-color: #F9D423;
  color: white;
  width: 40%;
  font-size: 2vh;
  margin: 5px;
  font-size: 3vw;
  padding: 2vw 0vw;
}


.sort-button-up{
  background-color: #FF4E50;
  border-width: 0px;
  width: 4vw;
  height: 4vw;
  margin: 1vw;
  background-image: url('Images/up.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sort-button-down{
  background-color: #FF4E50;
  border-width: 0px;
  width: 4vw;
  height: 4vw;
  margin: 1vw;
  background-image: url('Images/down.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.view-alert{
  display: none;
}

.spinner{
  width: 50px;
  height: 50px;
  
  border: 4px solid #ebf2ef;
  border-top: 5px solid #FF4E50;
  border-radius: 100%;
  margin: 0 auto;

  margin-top: 200px;
  
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}


@media only screen and (min-width: 800px) {
  .spinner{
    margin-top: 100px;
  }

  .plan-title{
    font-size: 1.5vw;
  }

  .plan-card{
    width: 20%;
    margin: 2vw;
    height: 40vh;
  }

  .main-title-container{
    height: 12vh;
  }

  .plan-image-in-list{
    height: 20vh;
  }

  .plan-image-container{
    height: 20vh;
  }

  .App{
    width: 80%;
    border: 1px lightgray solid;
    margin: 0 auto;
  }

  .footer-style{
    display: none;
  }

  .filters-container{
    width: 70%;
    margin: 0 auto;
  }

  .open-sort-menu{
    display: none;
  }

  .likes-counter{
    font-size: 1.8vh;
  }
  .new-plan-button{
    position: absolute;
    top: 10px;
    right: 50%;
    width: 35px;
    height: 35px;
  }
  .view-alert{
    display: block;
    background-color: red;
    color: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 5px;
    padding: 10px;
  }
}